@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
    --red: #b71b22;
    --white: #f3f3f3;
    --cw: #fff;
    --form: #acacac;
    --grey: #f5f5f5;
    --fonsize: 16px;
    --smsize: 14px;
    --bgcolor: #424242;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
    letter-spacing: 0.7px;
}
/* home */

/* marque */
.marquee {
    background-color: var(--red) !important;
    color: var(--cw) !important;
}
/* hero */
.hero {
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    padding: 2em;
    position: relative;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(29, 29, 29, 0.8);
    z-index: -1;
}

.link-register {
    text-decoration: none !important;
}

.nav-link {
    font-weight: bolder;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
}

.nav-link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--red);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.buttonlgn {
    font-weight: bolder !important;
    border: 2px solid var(--red) !important;
    border-radius: 30px !important;
    cursor: pointer !important;
    background-color: var(--red) !important;
    color: var(--white) !important;
}

.buttonlgn:hover {
    border: 2px solid var(--red) !important;
    background-color: transparent !important;
    color: var(--red) !important;
    transition: 450ms !important;
}

.btn-1 {
    background-color: var(--red) !important;
    border-radius: 10px !important;
    color: #fff !important;
    font-weight: 600 !important;
    padding: 10px 40px !important;
    margin-left: 10px;
    border: none !important;
}

.btn-1:hover {
    background-color: #910910 !important;
    color: #fff !important;
    border: none !important;
}

.btn-2 {
    background-color: #068100 !important;
    border-radius: 10px !important;
    color: #fff !important;
    font-weight: 600 !important;
    padding: 10px 40px !important;
    margin-left: 10px;
    border: none !important;
}

.btn-2:hover {
    background-color: #055600 !important;
    color: #fff !important;
    border: none !important;
}

.form-control {
    border-radius: 15px !important;
    border: none !important;
    background-color: #f1f1f1 !important;
    color: #000 !important;
}

.form-select {
    border-radius: 15px !important;
    border: none !important;
    background-color: #f1f1f1 !important;
    color: #000 !important;
}

/* .card {
    border: none !important;
    box-shadow: 0px 71px 150px rgba(56, 1, 1, 0.07),
        0px 29.6621px 62.6664px rgba(56, 1, 1, 0.0503198),
        0px 15.8588px 33.5045px rgba(56, 1, 1, 0.0417275),
        0px 8.8903px 18.7823px rgba(56, 1, 1, 0.035),
        0px 4.72157px 9.97515px rgba(56, 1, 1, 0.0282725),
        0px 1.96475px 4.15088px rgba(56, 1, 1, 0.0196802) !important;
    border-radius: 5px !important;
} */

.modal {
    border: none !important;
}

/* admin */
/* sidebar */
/* Google Fonts Import Link */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #1d1b31;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.home-section {
    position: relative;
    background: #e4e9f7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #11101d;
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

/* calendar */
#calendar {
    text-decoration: none !important;
}

@media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
    .sidebar {
        width: 78px;
    }
    .sidebar.close {
        width: 0;
    }
    .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }
    .sidebar.close ~ .home-section {
        width: 100%;
        left: 0;
    }
}
